@import '../variables';

.product-item {
    border: 1px solid black;
    margin-top: 1rem;

    .product-item__img {
        width: 100%;
        height: 8rem;
        background-color: black;
    }

    .product-item__info {
        padding: 1rem;

        .info__title {
            text-transform: capitalize;
        }
    }
}