@import '../variables';

.sidebar {
    position: relative;

    .sidebar__top-section {
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        background-color: $color-black;
        margin-bottom: 2rem;

        .top-section__title {
            display: flex;
            align-items: center;
            
            p {
                margin-left: 1rem;
            }
        }

        .top-section__icons {
            display: flex;
            width: fit-content;

            .icon__btn {
                display: flex;
                align-items: center;
                margin-left: 0.4rem;
            }
        }
    }

    .sidebar__side-section {
        position: absolute;
        width: fit-content;
        height: 100vh;
        background-color: $color-white;
        z-index: 10;
        top: 0;
        overflow: hidden;
        transition: .5s;

        .sidebar__side-header {
            padding: 1.3rem 1rem;
            display: flex;
            justify-content: flex-end;
        }

        .sidebar__link {
            display: flex;
            padding: 1rem 2.5rem;
            color: $color-black;

            .link__icon {
                padding-right: 1rem;
            }

            .link__text {

            }
        }
    }
}